<div class="row w-100 m-0">
  <div class="col px-0">
    <div class="card border">
      <div class="card-header bg-white">
        <div class="d-flex flex-column w-100">
          <h4 class="m-0">Course Outcome Mapping with PO/PSO</h4>
          <div class="d-flex justify-content-between">
            <app-filters (courseSelections)="getCourses($event)"></app-filters>
            <div class="d-flex justify-content-end align-items-center">
              <button class="btn btn-primary" (click)="enableSelects=!enableSelects" [disabled]="selectedCourse === undefined" [ngClass]="{
                'mr-2': enableSelects
              }">
                {{ enableSelects ? 'Cancel' : 'Edit' }}
              </button>
              <button class="btn btn-primary" *ngIf="enableSelects" (click)="saveCOPOMapping()">Save Map</button>
            </div>
          </div>
        </div>
        <!-- <div class="row w-100">
          <div class="col-12">
          </div>
        </div> -->
      </div>
      <div class="card-body" *ngIf="selectedCourse === undefined">
        <app-no-data message="Nothing To Show!! Please Select Course First"></app-no-data>
      </div>
      <div class="table-responsive" *ngIf="selectedCourse !== undefined">
        <table class="table table-flush m-0 text-center">
          <thead class="thead-light">
            <tr>
              <th></th>
              <th *ngFor="let po of poCodes">{{ po }}</th>
              <th *ngFor="let pso of psoCodes">{{ pso }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let co of selectedCourseCOCodes; index as idx">
              <td>{{ co }}</td>
              <td *ngFor="let po of poCodes">
                <input type="checkbox" name="poStrength" [id]="co+po+'Strength'" [disabled]="!enableSelects"
                  [checked]="onCheckboxChecked(co, po)" (change)="addPOFormGroup(co, po)">
              </td>
              <td *ngFor="let pso of psoCodes">
                <input type="checkbox" name="psoStrength" [id]="co+pso+'Strength'" [disabled]="!enableSelects"
                [checked]="onCheckboxChecked(co, pso)" (change)="addPOFormGroup(co, pso)">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>